body {
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
}

.middle {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 98%;
    height: 30%;
    background-color: rgb(138, 134, 134);
}
.torre {
    border: 2px solid red;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 75%;
    width: 15px;
    background-color: black;
}
/*  */
.disco {
    border: 1px solid black;
    border-radius: 10px;
    height: 10%;
    cursor: move;
}
.disco-vermelho{
    width: 100px;
    background-color: red;
}
.disco-verde{
    width: 80px;
    background-color: green;
}
.disco-azul{
    width: 60px;
    background-color: blue;
}
.disco-roxo{
    width: 40px;
    background-color: purple;
}
.selecionado-disco {
    transform: scale(1.3);
    border: 2px solid white;
}
.selecionado-vareta {
    transform: scale(1.2);
    border: 1px solid white;
}

.suporte{
    width: 100px;
    height: 100%;
    background-color: salmon;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

/* MEDIA QUERIES*/
@media (min-width: 550px){
    .disco-vermelho{
        width: 120px;
    }
    .disco-verde{
        width: 90px;
    }
    .disco-azul{
        width: 60px;
    }
    .disco-roxo{
        width: 40px;
    }
}

@media (min-width: 800px){
    .middle {
        width: 98%;
        height: 50%;
    }
    .disco-vermelho{
        width: 180px;
    }
    .disco-verde{
        width: 150px;
    }
    .disco-azul{
        width: 120px;
    }
    .disco-roxo{
        width: 90px;
    }
}

@media (min-width: 1300px){
    .middle {
        width: 85%;
        height: 60%;
    }
    .disco-vermelho{
        width: 280px;
    }
    .disco-verde{
        width: 200px;
    }
    .disco-azul{
        width: 150px;
    }
    .disco-roxo{
        width: 100px;
    }
}
