@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: black;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

main .vitoria {
    z-index: 2;
    position:absolute;
   font-size: 22px;
    font-size: 25px;
    color: rgb(81, 163, 13);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    
}

main .btnReset {
    position:absolute;
    margin-top: 500px;
    border: none;
    background-color: rgb(138, 134, 134);
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
}
.btnReset:hover {
    background-color: aliceblue;
    color: rgb(34, 30, 30);
    transition: all .5s ease;
}

.middle {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 98%;
    height: 30%;
    background-color: rgb(138, 134, 134);
    margin: 50px;
}
.torre {
    border: 2px solid red;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 75%;
    width: 15px;
    background-color: black;
    cursor: pointer;
}
/*  */
.disco {
    border: 1px solid black;
    border-radius: 10px;
    height: 10%;
    cursor: pointer;
}
.disco-vermelho{
    width: 100px;
    background-color: red;
}
.disco-verde{
    width: 80px;
    background-color: green;
}
.disco-azul{
    width: 60px;
    background-color: blue;
}
.disco-roxo{
    width: 40px;
    background-color: purple;
}
.selecionado-disco {
    transform: scale(1.3);
    border: 2px solid white;
}
.selecionado-vareta {
    transform: scale(1.2);
    border: 1px solid white;
}

.suporte{
    width: 100px;
    height: 100%;
    background-color: salmon;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

p{
    color: white;
    font-family: 'Poppins', sans-serif;
    
}

/* MEDIA QUERIES*/
@media (min-width: 550px){
    main .vitoria h1{
        font-size: 32px;
    }
    main .vitoria {
        margin-top: 0;
    }
    main .btnReset {
        margin-top: 420px;
    }
    .disco-vermelho{
        width: 120px;
    }
    .disco-verde{
        width: 90px;
    }
    .disco-azul{
        width: 60px;
    }
    .disco-roxo{
        width: 40px;
    }
}

@media (min-width: 800px){
    main .vitoria h1{
        font-size: 32px;
    }
    main .vitoria {
        margin-top: 20px;
        
    }
    main .btnReset {
        margin-top: 620px;
    }
    .middle {
        width: 98%;
        height: 50%;
    }
    .disco-vermelho{
        width: 180px;
    }
    .disco-verde{
        width: 150px;
    }
    .disco-azul{
        width: 120px;
    }
    .disco-roxo{
        width: 90px;
    }
}

@media (min-width: 1300px){
    main .vitoria h1{
        font-size: 32px;
    }
    main .vitoria {
        margin-top: 20px;
        
    }
    main .btnReset {
        margin-top: 720px;
    }
    .middle {
        width: 85%;
        height: 60%;
    }
    .disco-vermelho{
        width: 280px;
    }
    .disco-verde{
        width: 200px;
    }
    .disco-azul{
        width: 150px;
    }
    .disco-roxo{
        width: 100px;
    }
}
@media (min-width: 200px){
    main .vitoria {
        margin-top: 20px;
        
    }
    main .vitoria {
        font-size: 18px;
        
    }
}