body{
    overflow: hidden;
}

header{
    width: 100vw;
    height: 15vh;
    background-color: aquamarine;
    
}


header h1{
    line-height: 120px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.tabuleiro{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(14,14,15,1) 0%, rgba(186,198,200,1) 22%, rgba(186,198,200,1) 77%, rgba(14,14,15,1) 100%);
}